<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    
    <title>Autenticacion</title>
   
    <link rel='stylesheet'href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body>

    <div class = verificacion id ="pantalla">
        
        <div class = "container" id ="container">
            <img src ="/static/recortada.png" alt ="" class="upb">
            <p class="titulo">
                Sistema de verificacion

            </p>
            <form action = "{{ url_for('login') }}" method="post" class = "formulario">
                <label for="id" class ="label">
                    Ingresa tu cedula
                </label>
    
                <input type ="text" name = "cedula" placeholder="Cedula" id="id" required class ="input">
                <div class ="msg"> {{ msg }} </div>
                <div class ="boton">
                    <input type = "submit" value = "Verificar" id ="Btn" href ="{{ url_for('modal') }}" class = "button">

                </div>
                
                
                
                
    
                
            </form>


        </div>
        
        
        {%block modal%} {%endblock%}





    </div>
    

    
</body>
{%block script%}

{%endblock%}
</html>

